RewriteEngine On

# Si fichier ou dossier existe → Apache le sert directement
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Sinon → router PHP
RewriteRule ^ index.php [QSA,L]
